
@{
    ViewBag.Title = "Analystviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/ICRA_JS/media-min.js"></script>
<section id="banner" class="inner_banner">
    <div class="banner_item">
        <picture>
            <source media="(max-width:767px)" srcset="~/Content/images/banner-analyst-views-mob-01.jpg" />
            <img src="~/Content/images/banner-analyst-views-01.jpg" alt="" />
        </picture>
        <div class="container">
            <div class="banner_det">
                <h1>Analyst Views</h1>
                <p>ICRA Ratings offers in-depth financial coverage and risk<br> assessment solutions to support our clients' investment and<br> risk management objectives. Find out what ICRA Ratings' top<br> analysts have to say.</p>
            </div>
        </div>
    </div>
</section>

<div class="breadcrumbs">
    <div class="container">
        <a href="index.html">Home</a>Analyst Views
    </div>
</div>

<section class="section analyst_views gray_bg">
    <div class="container">
        <div id="tabdata_01">
            <div class="switch_tab_hld">
                <div class="slider"></div>
                <div class="tab active" tabId="analyst_views">Analyst Views</div>
                <div class="tab" tabId="podcasts">Podcasts</div>
            </div>
            <div class="switch_det_panel show" id="tab_analyst_views">
                <div class="analyst_views_list">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-md-6">
                            <div class="gallery-list">
                                <a href="https://www.youtube.com/watch?v=8hYwLoMNZjA" class="video popup-youtube" tabindex="0">
                                    <div class="thumb">
                                        <img src="~/Content/images/coverages/video-thumb-1.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <p>
                                <span class="date">30 Jul 2021</span>
                                Mr. Sabyasachi majumdar shares his views on the game changing foray into the green energy in the light of RIL announcement during the ‘India Development Debate’ show on ET Now.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="switch_det_panel" id="tab_podcasts">
                <div class="analyst_views_list">
                    <div class="row align-items-center">
                        <div class="col-lg-8 col-md-6">
                            <div class="gallery-list">
                                <a href="https://www.youtube.com/watch?v=8hYwLoMNZjA" class="video popup-youtube" tabindex="0">
                                    <div class="thumb">
                                        <img src="~/Content/images/coverages/video-thumb-1.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <p>
                                <span class="date">20 Jul 2021</span>
                                Mr. Sabyasachi majumdar shares his views on the game changing foray into the green energy in the light of RIL announcement during the ‘India Development Debate’ show on ET Now.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="gallery-list">
                    <a href="https://www.youtube.com/watch?v=8hYwLoMNZjA" class="video popup-youtube">
                        <div class="thumb">
                            <img src="~/Content/images/coverages/video-thumb-1.jpg" alt="">
                        </div>
                        <p>
                            Ms. Aditi Nayar In An Interaction With CNBC Tv18 Sharing Her Views On IIP Data
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="gallery-list">
                    <a href="https://www.youtube.com/watch?v=8hYwLoMNZjA" class="video popup-youtube">
                        <div class="thumb">
                            <img src="~/Content/images/coverages/video-thumb-1.jpg" alt="">
                        </div>
                        <p>
                            Ms. Aditi Nayar In An Interaction With CNBC Tv18 Sharing Her Views On IIP Data
                        </p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="gallery-list">
                    <a href="https://www.youtube.com/watch?v=8hYwLoMNZjA" class="video popup-youtube">
                        <div class="thumb">
                            <img src="~/Content/images/coverages/video-thumb-1.jpg" alt="">
                        </div>
                        <p>
                            Ms. Aditi Nayar In An Interaction With CNBC Tv18 Sharing Her Views On IIP Data
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section inthe_news">
    <div class="container">
        <h2 class="left_line">What's In The News</h2>
        <div class="print_coverage">
            <div class="row">
                <div class="col-lg-4 pc_left">
                    <div class="pc_left_inner">
                        <h2 class="left_line">Print</h2>
                        <div class="print_list">
                            <a href="#">
                                <span class="date">04 Oct 2021</span>
                                RIL’s shopping spree positive for investors
                            </a>
                        </div>
                        <div class="print_list">
                            <a href="#">
                                <span class="date">04 Oct 2021</span>
                                RIL’s shopping spree positive for investors
                            </a>
                        </div>
                        <div class="print_list">
                            <a href="#">
                                <span class="date">04 Oct 2021</span>
                                RIL’s shopping spree positive for investors
                            </a>
                        </div>
                        <a href="#" class="rv_more white">View More <i class="fas fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-8 pc_right">
                    <div class="pc_right_inner">
                        <h2 class="left_line">TV Coverage</h2>
                        <div class="video-coverage">
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="gallery-list">
                                        <a href="https://www.youtube.com/watch?v=8hYwLoMNZjA" class="video popup-youtube">
                                            <div class="thumb">
                                                <img src="~/Content/images/coverages/video-thumb-1.jpg" alt="">
                                            </div>
                                            <p>Ms. Aditi Nayar In An Interaction With CNBC Tv18 Sharing Her Views On IIP Data</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="gallery-list">
                                        <a href="https://www.youtube.com/watch?v=8hYwLoMNZjA" class="video popup-youtube">
                                            <div class="thumb">
                                                <img src="~/Content/images/coverages/video-thumb-1.jpg" alt="">
                                            </div>
                                            <p>Ms. Aditi Nayar In An Interaction With CNBC Tv18 Sharing Her Views On IIP Data</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6">
                                    <div class="gallery-list">
                                        <a href="https://www.youtube.com/watch?v=8hYwLoMNZjA" class="video popup-youtube">
                                            <div class="thumb">
                                                <img src="~/Content/images/coverages/video-thumb-1.jpg" alt="">
                                            </div>
                                            <p>Ms. Aditi Nayar In An Interaction With CNBC Tv18 Sharing Her Views On IIP Data</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="rv_more white">View More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
