
@{
    ViewBag.Title = "CPR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/ICRA_JS/cpr-min.js"></script>
<section id="banner" class="inner_banner inner_banner_ver_2">
    <div class="banner_item">
        <picture>
            <source media="(max-width:767px)" srcset="~/Content/images/banner-cpr-mob.jpg" />
            <img src="~/Content/images/banner-cpr.jpg" alt="Credit Perspective Reports" />
        </picture>
        <div class="container">
            <div class="banner_det investor_banner">
                <h1>Credit Perspective Reports</h1>
                <a href="https://www.youtube.com/watch?v=BGXQUsHM03E" class="button video popup-youtube">
                    <span>
                        Watch Video
                        <i class="fas fa-play-circle"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="breadcrumbs">
    <div class="container">
        <a href="index.html">Home</a><a href="research.html">Research Services</a>Credit Perspective Reports
    </div>
</div>

<section class="section abt_rating cpr_report">
    <div class="container">
        <h2 class="left_line">About ICRA Credit Perspective Reports</h2>
        <p><span>ICRA's 'Credit Perspectives' provide detailed analysis on ratings assigned.</span> These reports broadly cover the following areas: Key rating considerations, Rating sensitivity factors, Rating rationale, Company profile, Business update, Business outlook, Financial update, Financial outlook, etc</p>

        <div class="subscribe_sector">
            <img src="~/Content/images/thumb-sector-subscribe.jpg" alt="">
            <div class="desc_hld">
                <div class="copy">To subscribe a sector or subsector or a company</div>
                <a href="#" class="button">
                    <span> Click Here</span>
                </a>
            </div>

        </div>

        <h2 class="left_line">Explore Latest Reports</h2>

        <div class="search_hld">
            <div class="search_con">
                <input type="text" placeholder="Search Entity" class="textBox" />
                <i class="fas fa-search icon_search"></i>
                <i class="fas fa-times icon_close"></i>
            </div>
        </div>

        <div class="sector_report_hld">
            <div class="rating_filter_box_hld" style="display: block;">
                <div class="rating_filter_box">
                    <div class="wp_control">
                        <select class="selectBox">
                            <option>Sector</option>
                            <option>Sector1</option>
                            <option>Sector2</option>
                        </select>
                    </div>
                    <div class="wp_control">
                        <select class="selectBox">
                            <option>Sub Sector</option>
                        </select>
                    </div>
                    <div class="wp_control">
                        <div class="input-group date">
                            <input type="text" placeholder="From" class="form-control" id="fromDate">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="wp_control">
                        <div class="input-group date">
                            <input type="text" placeholder="To" class="form-control" id="toDate">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="button"><span>Search</span></div>
                </div>
            </div>

            <div class="tiles_hld">
                <div class="tiles">
                    <div class="tiles_blurb">
                        <div class="tiles_con">
                            <div class="cpr_blurb">
                                <div class="cpr_info">
                                    <div class="date">18 Nov 2021</div>
                                    <p>Birla Group Holdings Private Limited</p>
                                </div>
                                <a href="#" class="buy_report"><span>Buy Report</span></a>
                            </div>
                            <div class="checkbox-group">
                                <input type="checkbox" id="chk-01">
                                <label for="chk-01"></label>
                            </div>
                        </div>
                    </div>
                    <div class="tiles_blurb">
                        <div class="tiles_con">
                            <div class="cpr_blurb">
                                <div class="cpr_info">
                                    <div class="date">18 Nov 2021</div>
                                    <p>Indian Renewable Energy Development Agency Limited</p>
                                </div>
                                <a href="#" class="buy_report"><span>Buy Report</span></a>
                            </div>
                            <div class="checkbox-group">
                                <input type="checkbox" id="chk-02">
                                <label for="chk-02"></label>
                            </div>
                        </div>
                    </div>
                    <div class="tiles_blurb">
                        <div class="tiles_con">
                            <div class="cpr_blurb">
                                <div class="cpr_info">
                                    <div class="date">18 Nov 2021</div>
                                    <p>Shalby Limited</p>
                                </div>
                                <a href="#" class="buy_report"><span>Buy Report</span></a>
                            </div>
                            <div class="checkbox-group">
                                <input type="checkbox" id="chk-03">
                                <label for="chk-03"></label>
                            </div>
                        </div>
                    </div>
                    <div class="tiles_blurb">
                        <div class="tiles_con">
                            <div class="cpr_blurb">
                                <div class="cpr_info">
                                    <div class="date">18 Nov 2021</div>
                                    <p>Birla Group Holdings Private Limited</p>
                                </div>
                                <a href="#" class="buy_report"><span>Buy Report</span></a>
                            </div>
                            <div class="checkbox-group">
                                <input type="checkbox" id="chk-04">
                                <label for="chk-04"></label>
                            </div>
                        </div>
                    </div>
                    <div class="tiles_blurb">
                        <div class="tiles_con">
                            <div class="cpr_blurb">
                                <div class="cpr_info">
                                    <div class="date">18 Nov 2021</div>
                                    <p>Indian Renewable Energy Development Agency Limited</p>
                                </div>
                                <a href="#" class="buy_report"><span>Buy Report</span></a>
                            </div>
                            <div class="checkbox-group">
                                <input type="checkbox" id="chk-05">
                                <label for="chk-05"></label>
                            </div>
                        </div>
                    </div>
                    <div class="tiles_blurb">
                        <div class="tiles_con">
                            <div class="cpr_blurb">
                                <div class="cpr_info">
                                    <div class="date">18 Nov 2021</div>
                                    <p>Shalby Limited</p>
                                </div>
                                <a href="#" class="buy_report"><span>Buy Report</span></a>
                            </div>
                            <div class="checkbox-group">
                                <input type="checkbox" id="chk-06">
                                <label for="chk-06"></label>
                            </div>
                        </div>
                    </div>

                    <div class="sector_pagination">
                        <a href="#" class="button">
                            <span>Buy Here</span>
                        </a>

                        <ul class="pagination icra-pagination white">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="subscribe_rating_reports">
        <img src="~/Content/images/icon-subscribe-rating.png" alt="">
        <p>Want to get Rated / Subscribe to Research Report</p>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="tiles_hld">
            <div class="tiles">
                <img src="~/Content/images/bg-rating-research.jpg" alt="" class="bg_img">
                <h2 class="left_line">Most Trending Research Reports</h2>
                <div class="tiles_con">
                    <a href="#" class="cpr_blurb">
                        <div class="cpr_info">
                            <div class="date">15 Nov 2021 <span class="icon_prime"><img src="~/Content/images/icon-prime.png" alt="Prime"></span></div>
                            <p>Muthoot Microfin Limited: Rating confirmed as final for PTCs backed by micro loan receivables securitisation transaction</p>
                        </div>
                        <div class="subscribe"> <img src="~/Content/images/icon-sbscribe.png" alt=""> <span>Subscribe</span></div>
                    </a>
                    <a href="#" class="cpr_blurb">
                        <div class="cpr_info">
                            <div class="date">10 Nov 2021</div>
                            <p>Shriram Transport Finance Company Limited: Ratings withdrawn for PTCs and second loss facility issued under a vehicle loan securitisation transaction</p>
                        </div>
                        <div class="download"> <img src="~/Content/images/icon-download.png" alt=""> <span>Download</span></div>
                    </a>
                    <a href="#" class="cpr_blurb">
                        <div class="cpr_info">
                            <div class="date">04 Nov 2021 <span class="icon_prime"><img src="~/Content/images/icon-prime.png" alt="Prime"></span></div>
                            <p>Graphite India Limited: Ratings reaffirmed, outlook revised to Stable; rating assigned to the CP programme</p>
                        </div>
                        <div class="subscribe"> <img src="~/Content/images/icon-sbscribe.png" alt=""> <span>Subscribe</span></div>
                    </a>
                </div>
                <a href="#" class="link-button">View More</a>
            </div>
            <div class="tiles">
                <img src="~/Content/images/bg-rating-rationales.jpg" alt="" class="bg_img">
                <h2 class="left_line">Rating Rationales</h2>
                <div class="tiles_con">
                    <a href="#" class="cpr_blurb">
                        <div class="cpr_info">
                            <div class="date">15 Nov 2021</div>
                            <p>Muthoot Microfin Limited: Rating confirmed as final for PTCs backed by micro loan receivables securitisation transaction</p>
                        </div>
                        <div class="download"> <img src="~/Content/images/icon-download.png" alt=""> <span>Download</span></div>
                    </a>
                    <a href="#" class="cpr_blurb">
                        <div class="cpr_info">
                            <div class="date">10 Nov 2021</div>
                            <p>Shriram Transport Finance Company Limited: Ratings withdrawn for PTCs and second loss facility issued under a vehicle loan securitisation transaction</p>
                        </div>
                        <div class="download"> <img src="~/Content/images/icon-download.png" alt=""> <span>Download</span></div>
                    </a>
                    <a href="#" class="cpr_blurb">
                        <div class="cpr_info">
                            <div class="date">04 Nov 2021</div>
                            <p>Graphite India Limited: Ratings reaffirmed, outlook revised to Stable; rating assigned to the CP programme</p>
                        </div>
                        <div class="download"> <img src="~/Content/images/icon-download.png" alt=""> <span>Download</span></div>
                    </a>
                </div>
                <a href="#" class="link-button">View More</a>
            </div>
        </div>
    </div>
</section>

<section class="section web_event_sect gray_bg">
    <div class="container">
        <div id="tabdata_01">
            <div class="switch_tab_hld">
                <div class="slider"></div>
                <div class="tab active" tabId="webinars_events">Upcoming Webinars/Events</div>
                <div class="tab" tabId="presentations_recordings">Presentations And Recordings</div>
            </div>

            <!--Below are thetabs Detail pannels  -->
            <div class="switch_det_panel show" id="tab_webinars_events">
                <div class="web_event_con">
                    <a href="#" class="web_event_blurb">
                        <div class="web_event_blurb_det">
                            <div class="web_event_banner">
                                <img src="~/Content/images/web-event-01.jpg" alt="">
                            </div>
                            <div class="web_event_desc">
                                <div class="tiles_hld">
                                    <div class="tiles">
                                        <div class="tiles_con">
                                            <div class="cpr_blurb">
                                                <div class="cpr_info">
                                                    <div class="date">12 Nov 2021<span class="time">11:30 IST</span></div>
                                                    <p>Distress at EVERGRANDE: The shot that has been heard around global steel markets</p>
                                                    <div class="post_by">By Mr. Jayanta Roy,Mr. Priyesh Ruparelia, Mr. Ritabrata Ghosh</div>
                                                </div>
                                                <div class="subscribe"> <img src="~/Content/images/icon-register.png" alt=""> <span>Register</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="web_event_blurb">
                        <div class="web_event_blurb_det">
                            <div class="web_event_banner">
                                <img src="~/Content/images/web-event-02.jpg" alt="">
                            </div>
                            <div class="web_event_desc">
                                <div class="tiles_hld">
                                    <div class="tiles">
                                        <div class="tiles_con">
                                            <div class="cpr_blurb">
                                                <div class="cpr_info">
                                                    <div class="date">05 Nov 2021<span class="time">11:30 IST</span></div>
                                                    <p>Performance of ICRA-Assigned Ratings in H1 FY2022</p>
                                                    <div class="post_by">By Mr. K Ravichandran,Mr. Jitin Makkar, Mr. Pratik Singhania</div>
                                                </div>
                                                <div class="subscribe"> <img src="~/Content/images/icon-register.png" alt=""> <span>Register</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <a href="#" class="rv_more space">View Feed <i class="fas fa-arrow-right"></i></a>
            </div>
            <div class="switch_det_panel" id="tab_presentations_recordings">
                <div class="web_event_con">
                    <a href="#" class="web_event_blurb">
                        <div class="web_event_blurb_det">
                            <div class="web_event_banner">
                                <img src="~/Content/images/web-event-01.jpg" alt="">
                            </div>
                            <div class="web_event_desc">
                                <div class="tiles_hld">
                                    <div class="tiles">
                                        <div class="tiles_con">
                                            <div class="cpr_blurb">
                                                <div class="cpr_info">
                                                    <div class="date">15 Dec 2021<span class="time">11:30 IST</span></div>
                                                    <p>Distress at EVERGRANDE: The shot that has been heard around global steel markets</p>
                                                    <div class="post_by">By Mr. Jayanta Roy,Mr. Priyesh Ruparelia, Mr. Ritabrata Ghosh</div>
                                                </div>
                                                <div class="subscribe"> <img src="~/Content/images/icon-register.png" alt=""> <span>Register</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="web_event_blurb">
                        <div class="web_event_blurb_det">
                            <div class="web_event_banner">
                                <img src="~/Content/images/web-event-02.jpg" alt="">
                            </div>
                            <div class="web_event_desc">
                                <div class="tiles_hld">
                                    <div class="tiles">
                                        <div class="tiles_con">
                                            <div class="cpr_blurb">
                                                <div class="cpr_info">
                                                    <div class="date">05 Nov 2021<span class="time">11:30 IST</span></div>
                                                    <p>Performance of ICRA-Assigned Ratings in H1 FY2022</p>
                                                    <div class="post_by">By Mr. K Ravichandran,Mr. Jitin Makkar, Mr. Pratik Singhania</div>
                                                </div>
                                                <div class="subscribe"> <img src="~/Content/images/icon-register.png" alt=""> <span>Register</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <a href="#" class="rv_more space">View Feed <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="section events-podcast">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5">
                <div class="av-podcasts">
                    <h2 class="left_line">Analyst Views & Podcasts</h2>
                    <div class="podcasts-slider" id="podcasts">
                        <div class="item">
                            <div class="gallery-list">
                                <a href="https://www.youtube.com/watch?v=8hYwLoMNZjA" class="video popup-youtube">
                                    <div class="thumb">
                                        <img src="~/Content/images/coverages/video-thumb-1.jpg" alt="">
                                    </div>
                                    <p>
                                        <span class="date">05 Oct 2021</span>
                                        Ms. Aditi Nayar In An Interaction With CNBC Tv18 Sharing Her Views On IIP Data
                                    </p>
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="gallery-list">
                                <a href="https://www.youtube.com/watch?v=8hYwLoMNZjA" class="video popup-youtube">
                                    <div class="thumb">
                                        <img src="~/Content/images/coverages/video-thumb-1.jpg" alt="">
                                    </div>
                                    <p>
                                        <span class="date">05 Oct 2021</span>
                                        Ms. Aditi Nayar In An Interaction With CNBC Tv18 Sharing Her Views On IIP Data
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="rv_more">View More <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-7">
                <div class="webinar-events">
                    <h2 class="left_line">Media Releases</h2>
                    <div class="webinar-list">
                        <a href="#">
                            <div class="form-row align-items-center">
                                <div class="col-sm">
                                    <p class="date">06 Oct 2021</p>
                                    <p>Domestic passenger traffic accelerates in September 2021 with a sequential growth of 2-3% as Covid-19 infection trajectory dips</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="webinar-list">
                        <a href="#">
                            <div class="form-row align-items-center">
                                <div class="col-sm">
                                    <p class="date">06 Oct 2021</p>
                                    <p>Resilient earnings in FY2021; Covid 2.0 impacts asset quality in Q1 FY2022</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="webinar-list">
                        <a href="#">
                            <div class="form-row align-items-center">
                                <div class="col-sm">
                                    <p class="date">06 Oct 2021</p>
                                    <p>Improved economic activities in Q2 FY2022 to spur growth momentum for the road logistics sector in H2 FY2022; outlook continues to remain Stable</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="webinar-list">
                        <a href="#">
                            <div class="form-row align-items-center">
                                <div class="col-sm">
                                    <p class="date">06 Oct 2021</p>
                                    <p>Improved economic activities in Q2 FY2022 to spur growth momentum for the road logistics sector in H2 FY2022; outlook continues to remain Stable</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a href="#" class="rv_more">View More <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section git_fullwidth">
    <img src="~/Content/images/banner-ask-expert.jpg" alt="" class="bg-Img">
    <div class="container">
        <div class="ask_expert">
            <div class="ae_form_hld">
                <div id="tabdata_02">
                    <div class="switch_tab_hld">
                        <div class="slider"></div>
                        <div class="tab active" tabId="industry_analyst">Ask Our Industry Analyst</div>
                        <div class="tab" tabId="buss_representative">Get in touch with our Business Representative</div>
                    </div>
                    <!-- <div class="errMsg">You can show error msg here</div> -->
                    <div class="switch_det_panel show" id="tab_industry_analyst">
                        <div class="wp_controlers">
                            <div class="wp_control width_half">
                                <input type="text" placeholder="Name*" class="textBox" />
                            </div>
                            <div class="wp_control width_half">
                                <input type="text" placeholder="Company Name*" class="textBox" />
                            </div>
                            <div class="wp_control width_half">
                                <input type="text" placeholder="Email ID*" class="textBox" />
                            </div>
                            <div class="wp_control width_half">
                                <input type="text" placeholder="Contact Number*" class="textBox" />
                            </div>
                            <div class="wp_control">
                                <textarea placeholder="Write Your Query*" class="textArea"></textarea>
                            </div>
                            <div class="note">(*Does not ompulsory field)</div>
                        </div>
                        <div class="button"><span>Submit</span></div>
                    </div>

                    <div class="switch_det_panel" id="tab_buss_representative">
                        <div class="wp_controlers">
                            <div class="wp_control width_half">
                                <input type="text" placeholder="Name*" class="textBox" />
                            </div>
                            <div class="wp_control width_half">
                                <input type="text" placeholder="Company Name" class="textBox" />
                            </div>
                            <div class="wp_control width_half">
                                <input type="text" placeholder="Email ID*" class="textBox" />
                            </div>
                            <div class="wp_control width_half">
                                <input type="text" placeholder="Contact Number*" class="textBox" />
                            </div>
                            <div class="wp_control">
                                <textarea placeholder="Write Your Query*" class="textArea"></textarea>
                            </div>
                            <div class="note">(*Does not ompulsory field)</div>
                        </div>
                        <div class="button"><span>Submit</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section social_feed">
    <div class="container">
        <h2 class="left_line">Our Social Feeds</h2>
        <div class="feed_hld">
            <div class="feed">
                <div class="feed_type">
                    <img src="~/Content/images/icon-linkedin-feed.png" alt="Linked In" />
                    <a href="#" class="rv_more">View Feed <i class="fas fa-arrow-right"></i></a>
                </div>
                <img src="~/Content/images/social_feed_linkedin.jpg" alt="Linked In">
            </div>
            <div class="feed">
                <div class="feed_type">
                    <img src="~/Content/images/icon-twitter-feed.png" alt="Twitter" />
                    <a href="#" class="rv_more">View Feed <i class="fas fa-arrow-right"></i></a>
                </div>
                <img src="~/Content/images/social_feed_twitter.jpg" alt="Twitter">
            </div>
        </div>
        <div class="other_social_fields">
            Follow Us on
            <a href="#" target="_blank"><img src="~/Content/images/icon-fb.png" alt="Facebook"></a>
            <a href="#" target="_blank"><img src="~/Content/images/icon-insta.png" alt="Instagram"></a>
            <a href="#" target="_blank"><img src="~/Content/images/icon-yt.png" alt="Youtube"></a>
        </div>
    </div>
</section>



