
@{
    ViewBag.Title = "Podcasts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/ICRA_JS/media-min.js"></script>
<section id="banner" class="inner_banner">
    <div class="banner_item">
        <picture>
            <source media="(max-width:767px)" srcset="~/Content/images/banner-podcasts-mob-01.jpg" />
            <img src="~/Content/images/banner-podcasts-01.jpg" alt="" />
        </picture>
        <div class="container">
            <div class="banner_det">
                <h1>Podcasts</h1>
                <p>Catch the latest podcasts featuring ICRA Ratings<br> analysts and leading experts from the industry.</p>
            </div>
        </div>
    </div>
</section>

<div class="breadcrumbs gray_bg">
    <div class="container">
        <a href="index.html">Home</a><a href="media-and-events.html">Media</a>Podcasts
    </div>
</div>

<section class="section sec-podcasts gray_bg">
    <div class="container">
        <div id="tabdata_01">
            <div class="switch_tab_hld">
                <div class="slider"></div>
                <div class="tab active" tabId="analyst_views">Analyst Views</div>
                <div class="tab" tabId="podcasts">Podcasts</div>
            </div>
            <div class="latest_podcast switch_det_panel show" id="tab_analyst_views">
                <div class="podcasts-list">
                    <div class="row align-items-end">
                        <div class="col-lg-auto col-md-6 podcast-left">
                            <div class="podcast-thumb">
                                <img src="~/Content/images/podcasts/latest-podcasts-01.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg col-md-6 podcast-right">
                            <div class="podcast-content">
                                <div class="podcast-text">
                                    <p class="date">17 Sep 2021</p>
                                    <h6>Mr. Sabyasachi majumdar shares his views on the game changing foray into the green energy in the light of RIL announcement during the 'India Development Debate' show on ET Now.</h6>
                                    <p class="source">-- Ms. Anupama Reddy,Mr. Rajeshwar Burla,Mr. Shubham Jain</p>
                                </div>
                                <div class="podcast-audio">
                                    <audio controls="">
                                        <source src="~/Content/audio/demo-file.mp3" type="audio/ogg">
                                        <source src="~/Content/audio/demo-file.mp3" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="latest_podcast switch_det_panel" id="tab_podcasts">
                <div class="podcasts-list">
                    <div class="row align-items-end">
                        <div class="col-lg-auto col-md-6 podcast-left">
                            <div class="podcast-thumb">
                                <img src="~/Content/images/podcasts/latest-podcasts-01.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg col-md-6 podcast-right">
                            <div class="podcast-content">
                                <div class="podcast-text">
                                    <p class="date">19 Sep 2021</p>
                                    <h6>Mr. Sabyasachi majumdar shares his views on the game changing foray into the green energy in the light of RIL announcement during the 'India Development Debate' show on ET Now.</h6>
                                    <p class="source">-- Ms. Anupama Reddy,Mr. Rajeshwar Burla,Mr. Shubham Jain</p>
                                </div>
                                <div class="podcast-audio">
                                    <audio controls="">
                                        <source src="~/Content/audio/demo-file.mp3" type="audio/ogg">
                                        <source src="~/Content/audio/demo-file.mp3" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section podcasts_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="podcasts-list">
                    <div class="row align-items-center">
                        <div class="col-sm-auto podcast-left">
                            <div class="podcast-thumb">
                                <img src="~/Content/images/podcasts/podcasts-01.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm podcast-right">
                            <div class="podcast-content">
                                <div class="podcast-text">
                                    <p class="date">17 Sep 2021</p>
                                    <h6>The Indian Cement Sector: Will the sector surpasspre-covid volumes in FY2022?</h6>
                                    <p class="source">-Ms. Anupama Reddy,Mr. Rajeshwar Burla,Mr. Shubham Jain</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="podcast-audio">
                        <audio controls="">
                            <source src="~/Content/audio/demo-file.mp3" type="audio/ogg">
                            <source src="~/Content/audio/demo-file.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="podcasts-list">
                    <div class="row align-items-center">
                        <div class="col-sm-auto podcast-left">
                            <div class="podcast-thumb">
                                <img src="~/Content/images/podcasts/podcasts-02.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm podcast-right">
                            <div class="podcast-content">
                                <div class="podcast-text">
                                    <p class="date">17 Sep 2021</p>
                                    <h6>The Indian Cement Sector: Will the sector surpasspre-covid volumes in FY2022?</h6>
                                    <p class="source">-Ms. Anupama Reddy,Mr. Rajeshwar Burla,Mr. Shubham Jain</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="podcast-audio">
                        <audio controls="">
                            <source src="~/Content/audio/demo-file.mp3" type="audio/ogg">
                            <source src="~/Content/audio/demo-file.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="podcasts-list">
                    <div class="row align-items-center">
                        <div class="col-sm-auto podcast-left">
                            <div class="podcast-thumb">
                                <img src="~/Content/images/podcasts/podcasts-03.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm podcast-right">
                            <div class="podcast-content">
                                <div class="podcast-text">
                                    <p class="date">17 Sep 2021</p>
                                    <h6>The Indian Cement Sector: Will the sector surpasspre-covid volumes in FY2022?</h6>
                                    <p class="source">-Ms. Anupama Reddy,Mr. Rajeshwar Burla,Mr. Shubham Jain</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="podcast-audio">
                        <audio controls="">
                            <source src="~/Content/audio/demo-file.mp3" type="audio/ogg">
                            <source src="~/Content/audio/demo-file.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="podcasts-list">
                    <div class="row align-items-center">
                        <div class="col-sm-auto podcast-left">
                            <div class="podcast-thumb">
                                <img src="~/Content/images/podcasts/podcasts-04.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm podcast-right">
                            <div class="podcast-content">
                                <div class="podcast-text">
                                    <p class="date">17 Sep 2021</p>
                                    <h6>The Indian Cement Sector: Will the sector surpasspre-covid volumes in FY2022?</h6>
                                    <p class="source">-Ms. Anupama Reddy,Mr. Rajeshwar Burla,Mr. Shubham Jain</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="podcast-audio">
                        <audio controls="">
                            <source src="~/Content/audio/demo-file.mp3" type="audio/ogg">
                            <source src="~/Content/audio/demo-file.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="podcasts-list">
                    <div class="row align-items-center">
                        <div class="col-sm-auto podcast-left">
                            <div class="podcast-thumb">
                                <img src="~/Content/images/podcasts/podcasts-05.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm podcast-right">
                            <div class="podcast-content">
                                <div class="podcast-text">
                                    <p class="date">17 Sep 2021</p>
                                    <h6>The Indian Cement Sector: Will the sector surpasspre-covid volumes in FY2022?</h6>
                                    <p class="source">-Ms. Anupama Reddy,Mr. Rajeshwar Burla,Mr. Shubham Jain</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="podcast-audio">
                        <audio controls="">
                            <source src="~/Content/audio/demo-file.mp3" type="audio/ogg">
                            <source src="~/Content/audio/demo-file.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="podcasts-list">
                    <div class="row align-items-center">
                        <div class="col-sm-auto podcast-left">
                            <div class="podcast-thumb">
                                <img src="~/Content/images/podcasts/podcasts-06.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-sm podcast-right">
                            <div class="podcast-content">
                                <div class="podcast-text">
                                    <p class="date">17 Sep 2021</p>
                                    <h6>The Indian Cement Sector: Will the sector surpasspre-covid volumes in FY2022?</h6>
                                    <p class="source">-Ms. Anupama Reddy,Mr. Rajeshwar Burla,Mr. Shubham Jain</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="podcast-audio">
                        <audio controls="">
                            <source src="~/Content/audio/demo-file.mp3" type="audio/ogg">
                            <source src="~/Content/audio/demo-file.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

