
@{
    ViewBag.Title = "Policiescodes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section id="banner" class="inner_banner">
    <div class="banner_item">
        <picture>
            <source media="(max-width:767px)" srcset="~/Content/images/banner-regulatory-disclosures-mob-01.jpg" />
            <img src="~/Content/images/banner-regulatory-disclosures-01.jpg" alt="" />
        </picture>
        <div class="container">
            <div class="banner_det">
                <h1>Regulatory<br> Disclosures</h1>
            </div>
        </div>
    </div>
</section>

<div class="breadcrumbs">
    <div class="container">
        <a href="index.html">Home</a>Regulatory Disclosures
    </div>
</div>

<section class="section regulatory_tabs">
    <div class="container">
        <div class="switch_tab_hld">
            <div class="slider"></div>
            <div class="tab active" tabId="analyst_views">Policies/Codes</div>
            <div class="tab" tabId="podcasts">SEBI</div>
            <div class="tab" tabId="podcasts">RBI</div>
        </div>
    </div>
</section>

<section class="section regulatory_section">
    <div class="container">
        <div class="regulatory_wrapper">
            <ul>
                <li><a href="#">ICRA Code of Business Conduct</a></li>
                <li><a href="#">ICRA Code of Conduct for acquisition/disposal of shares of the Company under the Employees Stock Option Scheme (ESOS)</a></li>
                <li><a href="#">ICRA Code of Conduct for the Members of the Board of Directors and the Senior Management</a></li>
                <li><a href="#">ICRA Code of Practices and Procedures for Fair Disclosure of Unpublished Price Sensitive Information</a></li>
                <li><a href="#">ICRA Code of Professional Conduct</a></li>
                <li><a href="#">ICRA Corporate Social Responsibility Policy</a></li>
                <li><a href="#">ICRA Dividend Distribution Policy</a></li>
                <li><a href="#">ICRA Guidelines for dealing with Conflict of Interest for Investment/Trading in Securities</a></li>
                <li><a href="#">ICRA Material Subsidiary Policy</a></li>
                <li><a href="#">ICRA Materiality Policy</a></li>
                <li><a href="#">ICRA Related Party Transaction Policy</a></li>
                <li><a href="#">ICRA Whistle Blower Policy</a></li>
                <li><a href="#">Policy for determination of legitimate purposes</a></li>
                <li><a href="#">Policy for Inquiry in case of leak of Unpublished Price Sensitive Information</a></li>
                <li><a href="#">Record Retention and Archival Policy</a></li>
            </ul>
        </div>
    </div>
</section>

