
@{
    ViewBag.Title = "Regulatorydisclosuressebi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section id="banner" class="inner_banner">
    <div class="banner_item">
        <picture>
            <source media="(max-width:767px)" srcset="~/Content/images/banner-regulatory-disclosures-mob-01.jpg" />
            <img src="~/Content/images/banner-regulatory-disclosures-01.jpg" alt="" />
        </picture>
        <div class="container">
            <div class="banner_det">
                <h1>Regulatory<br> Disclosures</h1>
            </div>
        </div>
    </div>
</section>

<div class="breadcrumbs">
    <div class="container">
        <a href="index.html">Home</a>Regulatory Disclosures - SEBI
    </div>
</div>

<section class="section regulatory_tabs">
    <div class="container">
        <div class="switch_tab_hld">
            <div class="slider"></div>
            <div class="tab" tabId="analyst_views">Policies/Codes</div>
            <div class="tab active" tabId="podcasts">SEBI</div>
            <div class="tab" tabId="podcasts">RBI</div>
        </div>
    </div>
</section>

<section class="section regulatory_section">
    <div class="container">
        <div class="regulatory_wrapper">
            <div class="accordion icra_accordion multi_accordion sebi_accordion" id="accordionSebi">
                <div class="card">
                    <div class="card-header">
                        <h5 data-toggle="collapse" data-target="#sebi-01">
                            SEBI Listing Obligations And Disclosure Requirements Regulations 2015
                        </h5>
                    </div>
                    <div id="sebi-01" class="parent_accordion collapse" data-parent="#accordionSebi">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table icra-table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Items</th>
                                            <th>Compliance Status (Yes/No/NA)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="#">Details of business</a></td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Terms and conditions of appointment of independent directors</a></td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Composition of various committees of board of directors</a></td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Code of conduct of board of directors and senior management personnel</a></td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Details of establishment of vigil mechanism/ Whistle Blower policy</a></td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Criteria of making payments to non-executive directors</a></td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Policy on dealing with related party transactions</a></td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Policy for determining 'material'subsidiaries</a></td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Details of familiarization programmes imparted to independent directors</a></td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Contact information of the designated officials of the listed entity who are responsible for assisting and handling investor grievances</a></td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Email address for grievance redressal and other relevant details</a></td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Financial results</a></td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Shareholding pattern</a></td>
                                            <td>Yes</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Details of agreements entered into with the media companies and/or their associates</a></td>
                                            <td>N/A</td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">New name and the old name of the listed entity</a></td>
                                            <td>N/A</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 data-toggle="collapse" data-target="#sebi-02">
                            Disclosure As Per SEBI Circular CIR/ MIRSD/CRD/6/2010-Dated 3Rd May, 2010
                        </h5>
                    </div>
                    <div id="sebi-02" class="parent_accordion collapse" data-parent="#accordionSebi">
                        <div class="card-body">
                            <div class="media_print_filter">
                                <div class="rating_filter_box_hld" style="display:block;">
                                    <div class="rating_filter_box">
                                        <div class="wp_control">
                                            <select class="selectBox">
                                                <option>FY 2021-2022</option>
                                            </select>
                                        </div>
                                        <div class="wp_control">
                                            <select class="selectBox">
                                                <option>Disclosures for H1</option>
                                            </select>
                                        </div>
                                        <div class="button"><span>Search</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="sebisub-accordion">
                                <a href="#" class="sub_link">3A & 3B: Rating Summary Sheet</a>
                                <div class="accordion icra_accordion sebi_sub_accordion" id="accordionSebi-1">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 data-toggle="collapse" class="collapsed" data-target="#sebisub-01">
                                                6.2: Credit Rating History and Defaults
                                            </h5>
                                        </div>
                                        <div id="sebisub-01" class="collapse" data-parent="#accordionSebi-1">
                                            <div class="card-body p-0">
                                                <a href="#" class="sub_link level-1">6.2.1: Details of new credit ratings assigned during last six months</a>
                                                <p class="level-heading level-1">6.2.2: Movement of credit ratings of all outstanding securities during the last six months</p>
                                                <a href="#" class="sub_link level-2">6.2.2.1: Movement of each credit rating</a>
                                                <a href="#" class="sub_link level-2">6.2.2.2: Movement of each credit rating from investment grade to non-investment grade and vice versa</a>
                                                <a href="#" class="sub_link level-1">6.2.4: List of defaults separately for each rating category</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="sub_link">6.4: Structured Finance Products</a>
                                <a href="#" class="sub_link">6.6: Shareholding as on September 30, 2021</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 data-toggle="collapse" data-target="#sebi-03">
                            SEBI Circular On Monitoring And Review Of Credit Rating, June 2017
                        </h5>
                    </div>
                    <div id="sebi-03" class="parent_accordion collapse" data-parent="#accordionSebi">
                        <div class="card-body">
                            <a href="#" class="sub_link">3A & 3B: Rating Summary Sheet</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="main_link">List of issuers who have not  submitted the 'No Default Statement' as mandated by SEBI</a>
        </div>
    </div>
</section>

<script>

        // ------ Scroll till Accordian Panel ----- //
        $('.sebi_sub_accordion').on('shown.bs.collapse', function () {
            var panel = $(this).find('.collapse.show');
            $('html, body').animate({
                scrollTop: panel.offset().top - 70
            }, 500);
        });
        // ------ Scroll till Accordian Panel ----- //
        $('.icra_accordion').on('shown.bs.collapse', function () {
            var panel = $(this).find('.parent_accordion.collapse.show');
            $('html, body').animate({
                scrollTop: panel.offset().top - 70
            }, 500);
        });
</script>