
@{
    ViewBag.Title = "Template";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-color: #000;">
    <div id="wrapper">
        <div class="btn_hld">
            <button class="button prime"><span>Download</span></button>
            <a href="#" class="button"><span>Download</span></a>
        </div>
        <button class="button prime"><span>Download</span></button>
        <!-- <a href="#" class="button"><span>Download</span></a> -->
    </div>

    <script src="~/Scripts/ICRA_JS/home-min.js"></script>
</body>

