<div class="audio_btn">
    <i class="fas fa-volume-mute mute"></i>
    <i class="fas fa-volume-up unmute"></i>
</div>
<div class="audio_player_hld">
    <audio controls="" loop class="audio_player" id="playAudio">
        <!-- autoplay -->
        <source src="~/Content/audio/demo-file.mp3" type="audio/ogg">
        <source src="~/Content/audio/demo-file.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>
