
<div class="free_alert">
    <img src="~/Content/images/bg-free-alert.jpg" alt="Get Free Alerts on Sector / Company Updates">
    <div class="free_alert_msg">
        <a href="~/user-module/my-watchlist.html">
            <img src="~/Content/images/icon-alert.png" alt="Free Alert" class="icon_free_alert">
            Get Free Alerts on Sector / Company Updates
        </a>

    </div>
</div>