<section class="section r_methodology">
    <div class="container">
        <h2 class="left_line space">Our Rating Approach &amp; Methodologies</h2>
        <div class="rm_con">
            <p>ICRA's Rating process starts when the issuer contacts <br /> our business team to engage our services.</p>
            <ul>
                <li>
                    <a href="#">
                        <img src="~/Content/images/icon-rating-methodology.png" alt="Rating Methodologies" class="current" />
                        <img src="~/Content/images/icon-rating-methodology-hover.png" alt="Rating Methodologies" class="hover" />
                        Rating Methodologies
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Content/images/icon-rating-scale.png" alt="Rating Methodologies" class="current" />
                        <img src="~/Content/images/icon-rating-scale-hover.png" alt="Rating Methodologies" class="hover" />
                        Rating Scale
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Content/images/icon-rating-credit.png" alt="Rating Methodologies" class="current" />
                        <img src="~/Content/images/icon-rating-credit-hover.png" alt="Rating Methodologies" class="hover" />
                        Guide to Credit Ratings
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Content/images/icon-rating-performance.png" alt="Rating Methodologies" class="current" />
                        <img src="~/Content/images/icon-rating-performance-hover.png" alt="Rating Methodologies" class="hover" />
                        Rating Performance
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/Content/images/icon-faq.png" alt="Rating Methodologies" class="current" />
                        <img src="~/Content/images/icon-faq-hover.png" alt="Rating Methodologies" class="hover" />
                        FAQs
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

