
<div class="search_hld">
    <div class="search_con">
        <input type="text" id="txtSearchEntityName" placeholder="Search Entity" class="textBox" />
        <i class="fas fa-search icon_search"></i>
        <i class="fas fa-times icon_close"></i>
    </div>
</div>